.handyConnect {
  .errorMessage {
    color: red;
    margin-bottom: 8px;
    padding: 8px 16px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
  }

  .connectButton {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .settings {
    margin-top: 16px;

    .offsetSlider {
      margin: 16px 16px 32px 16px;
    }
  }
}
