.container {
  height: 100%;
  margin-right: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.openPanel {
  height: 100%;
  padding-inline: 8px;
  background-color: rgba(41, 11, 29, 0.95);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(123, 2, 77, 0.5);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: rgba(61, 16, 43, 0.95);
  }

  .logo {
    width: 48px;
    object-fit: contain;
  }
}

.popup {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  width: 250px;
  padding: 16px;
  background-color: rgba(41, 11, 29, 0.98);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 2147483641;
  border: 1px solid rgba(123, 2, 77, 0.5);
  overflow: hidden;
  animation: fadeIn 0.2s ease;
}

.loadPanel {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border: 0;
    margin: 0 0 8px 0;
    text-align: center;
  }

  .dropZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: 2px dashed rgba(123, 2, 77, 1);
    border-radius: 8px;
    padding: 8px;
    transition: all 0.3s ease;
    text-align: center;
    overflow: hidden;

    &:hover,
    .dragActive & {
      border-color: rgba(123, 2, 77, 1);
      background-color: rgba(123, 2, 77, 0.1);
    }

    .dropScript {
      font-size: 14px;
      color: #b0b0b0;
      margin: 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  &.dragActive .dropZone {
    border-color: #7b024d;
    background-color: rgba(123, 2, 77, 0.2);
  }

  .dropInstructions {
    min-height: 14px;
    margin: 0;
    color: #b0b0b0;
    font-size: 14px;
  }

  .loadButton {
    margin-top: 8px;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #7b024d;

    &:hover:not(:disabled) {
      background-color: #a60569;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(123, 2, 77, 0.4);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
