$accent-color: #a60569 !default;
$thumb-height: 13px !default;
$thumb-background: #ffffff !default;
$thumb-shadow:
  0 1px 1px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.2) !default;
$track-height: 5px !default;
$track-fill-background: $accent-color !default;
$track-background: rgba(146, 146, 146, 0.4) !default;
$thumb-active-shadow-color: rgba(123, 2, 77, 0.7) !default;
$thumb-active-shadow-width: 3px !default;
$thumb-line-width: 2px !default;
$thumb-line-height: 8px !default;

// Mixins for track and thumb styling
@mixin range-track-style {
  background: transparent;
  border: 0;
  border-radius: calc(#{$track-height} / 2);
  height: $track-height;
  user-select: none;
  transition: box-shadow 0.3s ease;
}

@mixin range-thumb-style {
  background: $thumb-background;
  border: 0;
  box-shadow: $thumb-shadow;
  position: relative;
  cursor: grab;
  transition:
    all 0.2s ease,
    width 0.3s ease,
    border-radius 0.3s ease;

  height: $thumb-line-height;
  width: $thumb-line-width;
  border-radius: calc(#{$thumb-height} / 2);

  &:active {
    cursor: grabbing;
  }
}

@mixin range-thumb-active-style($color) {
  box-shadow:
    $thumb-shadow,
    0 0 0 $thumb-active-shadow-width $color;
}

.progressContainer {
  width: 100%;
  padding: calc(#{$thumb-height} / 2) 0;
}

.progressArea {
  position: relative;
  $progress-offset: $thumb-height;

  input[type='range'] {
    width: 100%;
  }

  input[type='range'] {
    position: relative;
    z-index: 2;
  }

  .inputRange.inputRange {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-radius: calc(#{$thumb-height} * 2);
    color: $track-fill-background;
    display: block;
    height: calc((#{$thumb-active-shadow-width} * 2) + #{$thumb-height});
    margin: 0;
    min-width: 0;
    padding: 0;
    transition: box-shadow 0.3s ease;
    width: 100%;

    &::-webkit-slider-runnable-track {
      @include range-track-style;
      background-image: linear-gradient(
        to right,
        currentColor var(--value, 0%),
        transparent var(--value, 0%)
      );
      background-color: $track-background;
    }

    &::-webkit-slider-thumb {
      @include range-thumb-style;
      appearance: none;
      -webkit-appearance: none;
      margin-top: calc(((#{$thumb-line-height} - #{$track-height}) / 2) * -1);
    }

    // Firefox
    &::-moz-range-track {
      @include range-track-style;
      background-color: $track-background;
    }

    &::-moz-range-thumb {
      @include range-thumb-style;
    }

    &::-moz-range-progress {
      background: currentColor;
      border-radius: calc(#{$track-height} / 2);
      height: $track-height;
    }

    // Microsoft Edge (Legacy and Chromium based)
    &::-ms-track {
      @include range-track-style;
      background-color: $track-background;
      color: transparent;
    }

    &::-ms-fill-lower {
      @include range-track-style;
      background: currentColor;
    }

    &::-ms-fill-upper {
      @include range-track-style;
      background-color: $track-background;
    }

    &::-ms-thumb {
      @include range-thumb-style;
      margin-top: 0; // Edge often handles vertical alignment differently, setting to 0 works well here
    }

    &::-ms-tooltip {
      display: none;
    }

    &:hover:not(:disabled):not(:active) {
      cursor: pointer;

      &::-webkit-slider-thumb {
        width: $thumb-height;
        height: $thumb-height;
        border-radius: 100%;
        margin-top: calc(((#{$thumb-height} - #{$track-height}) / 2) * -1);
      }
      &::-moz-range-thumb {
        width: $thumb-height;
        height: $thumb-height;
        border-radius: 100%;
        margin-top: calc(((#{$thumb-height} - #{$track-height}) / 2) * -1);
      }
      &::-ms-thumb {
        width: $thumb-height;
        height: $thumb-height;
        border-radius: 100%;
        margin-top: calc(((#{$thumb-height} - #{$track-height}) / 2) * -1);
      }
    }

    &:focus {
      outline: none;
    }

    &:active {
      &::-webkit-slider-thumb {
        @include range-thumb-active-style($thumb-active-shadow-color);
        width: $thumb-height;
        height: $thumb-height;
        border-radius: 100%;
        margin-top: calc(((#{$thumb-height} - #{$track-height}) / 2) * -1);
      }
      &::-moz-range-thumb {
        @include range-thumb-active-style($thumb-active-shadow-color);
        width: $thumb-height;
        height: $thumb-height;
        border-radius: 100%;
        margin-top: calc(((#{$thumb-height} - #{$track-height}) / 2) * -1);
      }
      &::-ms-thumb {
        @include range-thumb-active-style($thumb-active-shadow-color);
        width: $thumb-height;
        height: $thumb-height;
        border-radius: 100%;
        margin-top: calc(((#{$thumb-height} - #{$track-height}) / 2) * -1);
      }
    }

    &:disabled {
      filter: grayscale(1);
      opacity: 0.5;
      cursor: not-allowed;
      &::-webkit-slider-thumb,
      &::-moz-range-thumb,
      &::-ms-thumb {
        cursor: not-allowed;
      }
    }
  }
}
