// src/components/settings/Settings.module.scss
.settings {
  padding: 8px;
}

.loading {
  padding: 8px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}

.settingItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}

.settingLabel {
  font-weight: 500;
  font-size: 14px;
}

.urlListContainer {
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);

  .settingLabel {
    margin-bottom: 4px;
  }

  .urlDescription {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
  }

  .urlTextarea {
    width: 100%;
  }
}
